{{#each annonces}}
<div>
  {{#if titre}}
    <h4>{{titre}}</h4>
  {{/if}}
  {{#if description}}
    <p>
      {{description}}
      {{#if prix}}
        <span>{{prix}}</span>
      {{/if}}
    </p>
  {{/if}}
  {{#if superficie}}
    <span><b>Superficie : </b> {{superficie}}</span>
  {{/if}}
  {{#if photos.length}}
    <p>
      {{#each photos}}
        <a href="{{lien}}">
          <img style="max-height: 200px" src="{{this}}">
        </a>
      {{/each}}
    </p>
  {{/if}}
  <p>
    <a href="{{lien}}">{{lien}}</a>
  </p>
</div>
<hr>
{{/each}}
